.id_container {
    display: flex;
    flex: 2 1 auto;
    gap: 7px;
}

.check_id {
    padding: 16px 15px;
    font-size: 14px;
    width: 40%;
    color: var(--main-color);
    background-color: var(--sub-color);
    border-radius: 41px;
}

.join_btn {
    margin-top: 36px;
}
