:root {
    --main-color: #cb3668;
    --sub-color: #fff2f6;
    --accent-color: #750a2e;
    --txt-color: #1d1b20;
    --sub-txt-color: #79767d;
    --border-color: #fbdfe4;
    --bg-color: #fff;
}

@font-face {
    font-family: "NanumSquareRound";
    font-weight: 400;
    src: url("/public/fonts/NANUMSQUAREROUNDR.TTF") format("truetype");
}

@font-face {
    font-family: "NanumSquareRound";
    font-weight: 700;
    src: url("/public/fonts/NANUMSQUAREROUNDB.TTF") format("truetype");
}

@font-face {
    font-family: "NanumSquareRound";
    font-weight: 800;
    src: url("/public/fonts/NANUMSQUAREROUNDEB.TTF") format("truetype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    font-size: 1vw;
}

body {
    font-family: "NanumSquareRound";
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

.ir {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

button {
    border: 0;
    cursor: pointer;
    font-family: "NanumSquareRound";
}

main {
    padding-top: 88px;
}

input {
    outline: none;
}

header {
    position: fixed;
    width: 100%;
    padding: 28px 0;
    background-color: var(--sub-color);
    border-bottom: 1px solid var(--border-color);
    z-index: 10;
}

.navbar {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline;
}

.logo_wrapper {
    display: block;
    line-height: 0;
}

.logo_img {
    width: 77px;
    height: 100%;
}

.link_li {
    display: flex;
    gap: 80px;
    font-weight: 700;
    color: var(--main-color);
}

.link {
    flex: 1 1 auto;
}

.account_li {
    font-size: 12px;
    font-weight: 700;
    color: #eb7ea2;
}

.account_li :first-child {
    position: relative;
    padding-right: 10px;
}

.account_li :first-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: 1px;
    width: 1px;
    height: 12px;
    background-color: var(--border-color);
}

.account_li :last-child {
    padding-left: 10px;
}

.account_section {
    padding: 16px;
    margin: 80px auto;
    max-width: 352px;
    text-align: center;
}

.h1_tit {
    font-size: 32px;
    font-weight: 700;
    color: var(--sub-txt-color);
}

.account_form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 48px 0 40px;
}

.account_input {
    padding: 15px 16px;
    margin-top: 6px;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 160px;
    box-sizing: border-box;
}

.account_input:focus {
    outline: 1px solid var(--border-color);
}

.err_input {
    padding: 15px 16px;
    width: 100%;
    border: 1px solid var(--main-color);
    outline: 1px solid var(--border-color);
    border-radius: 160px;
    box-sizing: border-box;
}

.err_msg {
    padding-left: 16px;
    font-size: 12px;
    color: var(--main-color);
    text-align: left;
}

.submit_btn {
    padding: 13px 0;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    background-color: var(--main-color);
    border-radius: 160px;
}

@media screen and (max-width: 1200px) {
    header {
        padding: 28px 36px;
    }

    .link_li {
        gap: 60px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px 36px;
    }

    .link_li {
        gap: 40px;
        font-size: 14px;
    }

    .login {
        font-size: 11px;
    }
}
