.height {
    height: 100%;
}

.test_main,
.test_qna_main,
.result_main {
    background-color: var(--sub-color);
    overflow-y: auto;
}

.test_main {
    height: 100vh;
    padding: 300px 0 100px;
}

.test_section {
    background-color: inherit;
    color: var(--main-color);
}

.test_li {
    margin: 0 auto;
    text-align: center;
}

.test_tit {
    font-size: 20px;
    font-weight: 600;
}

.test_tit:first-child {
    margin-bottom: 70px;
}

.test_link {
    transition: all 0.4s ease-out;
}

.test_link:hover .test_txt {
    padding-right: 30px;
}

.test_link:hover .test_arrow {
    opacity: 1;
    transition: 0.5s ease-out;
}

.test_txt {
    transition: all 0.4s ease-out;
}

.test_arrow {
    opacity: 0;
    vertical-align: middle;
}

.test_qna_main {
    padding: 200px 0 100px;
    height: 100%;
}

.test_qna_section {
    background-color: inherit;
    color: var(--main-color);
}

.test_content {
    margin: 0 auto;
    text-align: center;
    width: 360px;
}

.test_question {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    word-break: keep-all;
}

.test_options {
    display: flex;
    margin-top: 90px;
    flex-direction: column;
    gap: 24px;
}

.test_option {
    padding: 15px;
    background-color: var(--border-color);
    color: var(--main-color);
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    border-radius: 100px;
    white-space: pre-line;
}

.test_option:hover {
    background-color: rgba(255, 199, 218, 0.6);
}

.btn_container {
    margin-top: 50px;
    text-align: left;
}

.test_back_btn {
    background-color: transparent;
    color: #c86d8b;
    font-size: 14px;
    font-weight: 600;
}

.test_back_icon {
    margin: 0 5px 2px 0;
    width: 22px;
    height: 22px;
    color: #c86d8b;
    vertical-align: middle;
}

.disabled {
    cursor: default;
}

.result_main {
    padding: 150px 0 80px;
    height: 100vh;
}

.result_section {
    background-color: inherit;
    color: #803c33;
    text-align: center;
}

.result_tit {
    margin-bottom: 15px;
}

.result_msg {
    font-size: 14px;
}

.result_item_container {
    padding: 20px;
    margin: 34px auto;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: var(--border-color) 0px 5px 15px 0px;
    transition-property: transform;
    border-radius: 5px;
}

.result_item_container:hover {
    transform: scale(1.005);
}

.result_img_wrapper {
    margin: 0 auto;
}

.result_feature_container {
    text-align: right;
}

.result_feature_box {
    display: inline-block;
    padding: 5px 8px;
    margin-left: 8px;
    font-size: 13px;
    text-align: center;
    color: var(--main-color);
    background-color: var(--border-color);
    border-radius: 5px;
}

.result_info_container {
    position: relative;
    padding: 40px 50px 20px;
}

.result_brand_name {
    margin-bottom: 15px;
    font-size: 24px;
    color: #c86d8b;
}

.result_brand_name::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    top: 14px;
    left: 42.5%;
    background-color: var(--border-color);
}

.result_item_name {
    font-size: 18px;
    font-weight: 600;
    color: #c86d8b;
    word-break: keep-all;
    line-height: 26px;
}

.result_link {
    font-size: 14px;
}

@media screen and (max-width: 1280px) {
    .test_main {
        padding: 200px 0 80px;
    }

    .test_qna_main {
        padding: 150px 0 80px;
    }
}

@media screen and (max-width: 480px) {
    .test_qna_section {
        padding: 0 20px;
    }

    .test_content {
        width: 100%;
    }

    .result_item_container {
        width: 90%;
    }

    .result_img_wrapper {
        width: 90%;
    }
}

@media screen and (max-width: 360px) {
    .test_option {
        font-size: 16px;
    }

    .result_brand_name::before {
        left: 41%;
    }
}
